<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>About Us | College Enquiry AI Chatbot</title>

    <!-- CSS  -->
    <link href="static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="static/min/custom-min.css" type="text/css" rel="stylesheet" >

    <style type="text/css">
       .mobileShow { display: none;}
       /* Smartphone Portrait and Landscape */
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 480px){ .mobileShow { display: inline;}}

       .mobileHide { display: inline;}
   /* Smartphone Portrait and Landscape */
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 480px){  .mobileHide { display: none;}}
    </style>
</head>

<body id="top" class="scrollspy">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

<!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" id="logo-container" class="brand-logo">
                        <div class="mobileShow">College Chatbot</div>
                        <div class="mobileHide">College Enquiry Chatbot</div>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        {% if log %} 
                        <li><a href="/">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="signout">Sign out</a></li>                
                        {% else %}
                            <li><a href="/">Home</a></li>
                            <li><a href="signin">Login</a></li>
                            <li><a href="register">Register</a></li>
                            <li><a href="about">About Us</a></li>
                        {% endif %}
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        {% if log %} 
                            <li><a href="/">Home</a></li>
                            <li><a href="chat">Chat</a></li>
                            <li><a href="about">About Us</a></li>
                            <li><a href="signout">Sign out</a></li>                
                        {% else %}
                            <li><a href="/">Home</a></li>
                            <li><a href="signin">Login</a></li>
                            <li><a href="register">Register</a></li>
                            <li><a href="about">About Us</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>

    <!--<div id="intro" class="section scrollspy">-->
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h3 class="center header text_h3"> About  <span class="span_h3"> Us  </span> </h3>
            </div>
                <p>College enquiry chatbot helps to get answer about course details and various college related queries using natural language processing and pattern matching techniques.</p>
                <p>Various supported queries are:
                    <li>Course information( Instructor, credits, syllabus, references, type etc.)</li>
                    <li>Time table</li>
                    <li>College contact information</li>
                    <li>General greetings </li>
                    <li> Data and time etc.</li>
        </div>
    </div>
    </div>

  <!-- ================================================
    Scripts
    ================================================ -->
    <script src="static/min/plugin-min.js"></script>
    <script src="static/min/custom-min.js"></script>

</body>
</html>
