<!DOCTYPE html>
<head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Chat | College Enquiry AI Chatbot</title>

    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="static/min/custom-min.css" type="text/css" rel="stylesheet" >

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
    var myVar = "global";
    $(document).ready(function(){
    	namespace = '/test'; 
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        socket.on('my response', function(msg) {
            $('#log').append('<p>Bot: ' + msg.data + '</p>');
            myVar=msg.data
        });
        $('form#emit').submit(function(event) {
            socket.emit('my event', {data: $('#emit_data').val()});
            $('#log').append('<p>You: ' + $('#emit_data').val() + '</p>');
            return false;
        });
    });
    </script>

    <style type="text/css">
       .mobileShow { display: none;}
       /* Smartphone Portrait and Landscape */
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 480px){ .mobileShow { display: inline;}}

       .mobileHide { display: inline;}
        /* Smartphone Portrait and Landscape */
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 480px){  .mobileHide { display: none;}}
    </style>
</head>

<body id="top" class="scrollspy">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
	
<!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                <a href="/" id="logo-container" class="brand-logo">
                    <div class="mobileShow">College Chatbot</div>
                    <div class="mobileHide">College Enquiry Chatbot</div>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="signout">Sign out</a></li>                
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="signout">Sign out</a></li>
                    </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
               </div>
            </div>
        </nav>
    </div>

    <!--<div id="intro" class="section scrollspy">-->
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h3 class="center header text_h3"> Chat <span class="span_h3"> Here  </span> </h3>
                </div>
                <div class="panel-body">
    		       	<ul class="media-list">
    		            <li class="media"></li>
    		            <div class="media-body">
    		                <div class="media">
    		                    <div class="media-body">
    		                    <div id="log"></div>
    		                    </div>
    		                </div>
    		            </div>
    		        </ul> 
                </div>
                <div class="panel-footer">
                    <form id="emit" method="POST" action='#' class="input-group" autocomplete="off">
                        <input type="text" name="hidden" class="form-control" placeholder="Enter Message" id="emit_data" autocomplete="off">
                        <span class="input-group-btn">
                            <input button class="btn btn-info" type="submit" value="Send" onclick="setTimeout(clearform,500);""></button>
                            <button class="btn btn-info" type="reset" onclick="play()"><i class="fa fa-play-circle"></i></button>
                            <script type="text/javascript">
                            function clearform()
                            {
                                    document.getElementById("emit").reset();
                            }
                       
                                function play()
                                {
                                    var msg = new SpeechSynthesisUtterance(myVar);
                                    window.speechSynthesis.speak(msg);
                                }
                            </script>
                        </span>
                    </form>
                </div>
            </div>
        </div>
   <!-- ================================================
    Scripts
    ================================================ -->
    <script src="static/min/plugin-min.js"></script>
    <script src="static/min/custom-min.js"></script>

</body>
</html>
