<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>College Enquiry AI Chatbot</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- CSS  -->
    <link href="static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="static/min/custom-min.css" type="text/css" rel="stylesheet" >
    <style type="text/css">
	   .mobileShow { display: none;}
	   /* Smartphone Portrait and Landscape */
	   @media only screen
	   and (min-device-width : 320px)
	   and (max-device-width : 480px){ .mobileShow { display: inline;}}

	   .mobileHide { display: inline;}
   /* Smartphone Portrait and Landscape */
	   @media only screen
	   and (min-device-width : 320px)
	   and (max-device-width : 480px){  .mobileHide { display: none;}}

	</style>
</head>

<body id="top" class="scrollspy">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
<!--Navigation-->

 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="/" id="logo-container" class="brand-logo">
            	<div class="mobileShow"> College Chatbot</div>
            	<div class="mobileHide">College Enquiry Chatbot</div>
            	</a>
                <ul class="right hide-on-med-and-down">
        			{% if log %} 
                    	<li><a href="chat">Chat</a></li>
                    	<li><a href="about">About Us</a></li>
                        <li><a href="signout">Sign out</a></li>                
                    {% else %}
                     	<li><a href="signin">Login</a></li>
                    	<li><a href="about">About Us</a></li>
                    	<li><a href="register">Register</a></li>
                    {% endif %}
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    {% if log %} 
                    	<li><a href="chat">Chat</a></li>
                    	<li><a href="about">About Us</a></li>
                        <li><a href="signout">Sign out</a></li>                
                    {% else %}
                     	<li><a href="signin">Login</a></li>
                    	<li><a href="register">Register</a></li>
                    	<li><a href="about">About Us</a></li>
                    {% endif %}            
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>
<!--Hero-->
<!-- 
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>I Love</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">creating</b>
                <b>designing</b>
                <b>developing</b>
            </span>
        </h1>
    </div>
</div>
-->
<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Got<span class="span_h2"> Question?</span> </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Get answers instantly <br>24x7</h5>
                    <p class="light center">No delay in getting answers anytime from anywhere.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Single space for all your queries</h5>
                    <p class="light center">All your questions are answered</p>
                    
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Available across several platforms</h5>
                    <p class="light center">Accessible via Web, Android app, Facebook Messenger, Telegram & Kik.</p>
                </div>
            </div>
        </div>
    </div>
</div>


    <!--Footer-->
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="container">  
            <div class="row">
                    
                <div class="col l3 s12">
                    <h5 class="white-text">Social</h5>
                        <li>
                            <a class="white-text" href="https://www.facebook.com/College-Enquiry-AI-Chatbot-1807136089567390" target="_blank">
                                <i class="small fa fa-facebook-square white-text"></i> Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright default_color">
            <div class="container">
              © Copyright <a class="white-text">2017 College Enquiry Chatbot</a></p>
            </div>
        </div> 
    </footer>

    <script src="static/min/plugin-min.js"></script>
    <script src="static/min/custom-min.js"></script>

    </body>
</html>
